/husky
/.next
/.vscode
/node_modules
/public
next-env.d.ts
next.config.ts
yarn.lock
.env*.local
.gitignore
/.prettierignore
/.prettierrc.json
/next.config.mjs
/package.json
/postcss.config.mjs
/README.md
/tailwind.config.ts
/tsconfig.json
/tsconfig.tsbuildinfo
/src/fonts