@tailwind base;

@layer base {
  :root {
    --red-10: #ef4444;
    --red-90: #7f1d1d;
    --blue-10: #f8fafc;
    --blue-20: #f1f5f9;
    --blue-30: #e2e8f0;
    --blue-40: #8fb5f3;
    --blue-50: #3b82f6;
    --blue-60: #2563eb;
    --blue-70: #1d4ed8;
    --blue-80: #1e293b;
    --blue-90: #0f172a;
    --gray-10: #94a3b8;
    --gray-20: #64748b;
    --white: #ffffff;
    --black: #020817;
  }

  :root[data-theme="light"] {
    --background: var(--white);
    --foreground: var(--black);

    --primary: var(--blue-60);
    --primary-foreground: var(--blue-10);

    --accent: var(--blue-20);
    --accent-foreground: var(--blue-90);

    --muted-foreground: var(--gray-20);

    --destructive: var(--red-10);
    --destructive-foreground: var(--blue-10);

    --border: var(--blue-30);
    --ring: var(--blue-60);
  }

  :root[data-theme="dark"] {
    --background: var(--black);
    --foreground: var(--blue-10);

    --primary: var(--blue-50);
    --primary-foreground: var(--blue-90);

    --accent: var(--blue-80);
    --accent-foreground: var(--blue-10);

    --muted-foreground: var(--gray-10);

    --destructive: var(--red-90);
    --destructive-foreground: var(--blue-10);

    --border: var(--blue-80);
    --ring: var(--blue-70);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: var(--black);
      --foreground: var(--blue-10);

      --primary: var(--blue-50);
      --primary-foreground: var(--blue-90);

      --accent: var(--blue-80);
      --accent-foreground: var(--blue-10);

      --muted-foreground: var(--gray-10);

      --destructive: var(--red-90);
      --destructive-foreground: var(--blue-10);

      --border: var(--blue-80);
      --ring: var(--blue-70);
    }
  }
}
