@import "tailwindcss";

@layer base {
  :root {
    --color-red-10: #ef4444;
    --color-red-90: #7f1d1d;
    --color-blue-10: #f8fafc;
    --color-blue-20: #f1f5f9;
    --color-blue-30: #e2e8f0;
    --color-blue-40: #8fb5f3;
    --color-blue-50: #3b82f6;
    --color-blue-60: #2563eb;
    --color-blue-70: #1d4ed8;
    --color-blue-80: #1e293b;
    --color-blue-90: #0f172a;
    --color-gray-10: #94a3b8;
    --color-gray-20: #64748b;
    --color-white: #ffffff;
    --color-black: #020817;
  }

  :root[data-theme="light"] {
    --color-background: var(--color-white);
    --color-foreground: var(--color-black);

    --color-primary: var(--color-blue-60);
    --color-primary-foreground: var(--color-blue-10);

    --color-accent: var(--color-blue-20);
    --color-accent-foreground: var(--color-blue-90);

    --color-muted-foreground: var(--color-gray-20);

    --color-destructive: var(--color-red-10);
    --color-destructive-foreground: var(--color-blue-10);

    --color-border: var(--color-blue-30);
    --color-ring: var(--color-blue-60);
  }

  :root[data-theme="dark"] {
    --color-background: var(--color-black);
    --color-foreground: var(--color-blue-10);

    --color-primary: var(--color-blue-50);
    --color-primary-foreground: var(--color-blue-90);

    --color-accent: var(--color-blue-80);
    --color-accent-foreground: var(--color-blue-10);

    --color-muted-foreground: var(--color-gray-10);

    --color-destructive: var(--color-red-90);
    --color-destructive-foreground: var(--color-blue-10);

    --color-border: var(--color-blue-80);
    --color-ring: var(--color-blue-70);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-background: var(--color-black);
      --color-foreground: var(--color-blue-10);

      --color-primary: var(--color-blue-50);
      --color-primary-foreground: var(--color-blue-90);

      --color-accent: var(--color-blue-80);
      --color-accent-foreground: var(--color-blue-10);

      --color-muted-foreground: var(--color-gray-10);

      --color-destructive: var(--color-red-90);
      --color-destructive-foreground: var(--color-blue-10);

      --color-border: var(--color-blue-80);
      --color-ring: var(--color-blue-70);
    }
  }
}
